@tailwind base;
@tailwind components;
@tailwind utilities;

.animation {
    animation: 1s animation ease;
}

@keyframes animation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    50%{
        opacity: 0;
        transform: translateY(100px);

    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}